.footer {
    height: 5vh;

    a {
        @include clamp('font-size', 12px, 2vw, 16px);
        color:$primarycolor;
        scroll-behavior: smooth;
        -moz-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        cursor: url(../../assets/img/cursor/dot-thin.svg) 4 12, auto;

        &:hover {
            opacity: 0.7;
            filter: hue-rotate(90deg);
        }
    }
}